:root {
  --colorPrimario: #b90004;
  --colorBackgroundClaro: #1ecbc7;
  --colorBackgroundOscuro: #15aeb4;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: sans-serif;
}


.bienvenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--colorPrimario);
  position: fixed;
  top: 0px;
  z-index: 10;
}

.bienvenidoOff{
  width: 0px;
  height: 0px;
}

.compuLogo{
  width: 150px;
  margin-bottom: 20px;
}

.inputRegistro{
 border: 0px;
 outline: 0px;
 color: var(--colorPrimario);
 font-size: 15px;
 padding: 3px;
 border-bottom: 5px solid #FF8F8F;
}

.inputRegistro::placeholder{
  color: #FF8F8F;
}
.btnRegistro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background: white;
  margin-top: 20px;
  border-radius: 50px;
  border-bottom: 5px solid #FF8F8F;
}

.txtR{
  color: var(--colorPrimario);
  font-size: 20px;
}

.logoR{
  width: 40px;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.TU{
  color: white;
  position: fixed;
  top: 20px;
}

.lee{
  width: 210px;
  color: white;
  font-size: 10px;
  margin-bottom: 8px;
}
